---
import { getCollection } from "astro:content";

export async function getStaticPaths({ paginate }) {
  const videos = await getCollection("video");
  return paginate(videos, { pageSize: 50 });
}

const { page } = Astro.props;
---

<h1>Videos</h1>

<ul>
  {
    page.data.map((video) => (
      <li>
        <a href={`/v/${video.id}`}>
          <img src={video.data.thumbnailMedium} alt={video.data.videoTitle} />
          <h2>{video.data.videoTitle}</h2>
          <p>{video.data.videoDescription}</p>
        </a>
      </li>
    ))
  }
</ul>

{page.url.first ? <a href={page.url.first}>First</a> : null}
{page.url.prev ? <a href={page.url.prev}>Previous</a> : null}
{page.url.next ? <a href={page.url.next}>Next</a> : null}
{page.url.last ? <a href={page.url.last}>Last</a> : null}
