---
import { type CollectionEntry, getCollection } from "astro:content";
import { toSlug } from "../../helpers/url_helpers";

export async function getStaticPaths() {
  const organizations = await getCollection("organization");
  return organizations.map((organization) => {
    const actualSlug = organization.data.slug
      ? organization.data.slug
      : `${toSlug(organization.data.orgTitle)}--${organization.id}`;

    return {
      params: { slug: actualSlug },
      props: organization,
    };
  });
}
type Props = CollectionEntry<"organization">;

const organization = Astro.props;
---

<div>
  <img src={organization.data.logoImage} alt={organization.data.orgTitle} />
  <h1>{organization.data.orgTitle}</h1>
  <p>{organization.data.orgDescription}</p>

  <h2>Videos</h2>
  <ul>
    {organization.data.videos.map((video) => (
      <li>
        <div>
          <h1>{video.videoTitle}</h1>
          <iframe
            width="560"
            height="315"
            src=`https://www.youtube.com/embed/${video.data.youtubeVideoId}`
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin"
            allowfullscreen></iframe>
          <p>{video.videoDescription}</p>
        </div>
      </li>
    ))}
  </ul>
</div>


<style>
  p {
    white-space: pre-line;
  }
</style>